:root {
  --section-title-box-height: 20px;
  --padding-for-section: 3px;
}

* {
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
}

body {
  background: #aaa;
  width: 1920px;
  height: 1280px;
  /* max ratio is 4:3 and min ratio is 2:1 */
  /* 
  width: calc(100vw); 
  min-width: 1920px;
  height: calc(100vh);
  max-height: calc(0.75 * 100vw);
  min-height: calc(0.50 * 100vw);  
  */
  padding: 0;
  margin: 0;
}

#root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding-for-section);
  background: #fff;
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
}

/* container-group */
.container-group {
  width: 100%;
  padding: var(--padding-for-section);
}

.container-group.top {
  flex: 1.2;
}

.container-group.body {
  flex: 3;
  display: flex;
  flex-direction: row;
}

.container-group.bottom {
  flex: 5.8;
  display: flex;
  flex-direction: column;
}

/* container */
.container {
  border: 1px solid #777;
  width: 100%;
  height: 100%;
  padding: var(--padding-for-section);
}

/* svgs */
.container>svg {
  width: 100%;
  height: 100%;
}

/* .container => .container-group.body */
.container#parallel-container {
  flex: 8;
}

.container#scatter-container {
  flex: 2;
}

/* .container => .container-group.bottom */
.container-wrapper#smalls-container-wrapper {
  flex: 6;
  width: 100%;
  overflow-x: scroll;
}

.container#smalls-container {
  max-height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0 auto;
  padding: 5px;
}

.container-wrapper#table-container-wrapper {
  flex: 4;
}

.container#table-container {
  max-height: 275px;
  overflow-y: scroll;
}

/* Node Link Diagram */
.container#smalls-container>.diagram {
  display: inline-block;
  width: 420px;
  height: 100%;
  margin: auto 2px;
  border: 1px solid #ccc;
}