:root {
  --section-title-box-height: 20px;
}

* {
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
}

body {
  background: #ddd;
  width: 1920px;
  height: 1280px;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  padding: 3px;
  background: #fff;
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
}

/* section-group */
.section-group {
  width: 100%;
  padding: 3px;
}

.section-group.top {
  flex: 1.25;
}

.section-group.body {
  flex: 4;
  display: flex;
  flex-direction: row;
}

.section-group.bottom {
  flex: 4.75;
  display: flex;
  flex-direction: column;
}

/* section */
section {
  border: 1px solid #777;
  padding: 3px;
  width: 100%;
  height: 100%;
}

/* section>.section-title {
  height: var(--section-title-box-height);
} */

/* svgs */
section>svg {
  width: 100%;
  height: 100%;
}

/* section => section-group.body */
section#parallel-zone {
  flex: 7.5;
}

section#scatter-zone {
  flex: 2.5;
}

/* section => section-group.bottom */
section#smalls-zone {
  flex: 6;
}

section#table-zone {
  flex: 4;
}


/* tooltip */
#tooltip {
  position: absolute;
  width: 500px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
}